{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>
<body>
    <div class="outer-box">
        <div class="inner-box">
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <button type="submit">login</button>
            </form>
        </div>
    </div>
</body>
</html>